<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>

<div class="row">
  <div class="large-4 columns">
<ul class="pricing-table">
  <li class="title">Standard</li>
  <li class="price">$10</li>
  <li class="description">Basic single membership</li>
  <li class="bullet-item">No T-shirts</li>
  <li class="bullet-item">No Free Tickets</li>
  <li class="bullet-item">Lots of love!</li>
  <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
</ul>
  </div><div class="large-4 columns">

<ul class="pricing-table">
  <li class="title">Family</li>
  <li class="price">$25</li>
  <li class="description">Basic family membership</li>
  <li class="bullet-item">1 T-shirt</li>
  <li class="bullet-item">2 Free Tickets</li>
  <li class="bullet-item">Lots of love!</li>
  <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
</ul>
</div>
</div>
