<h3>About P.A.C.T.</h3>

<div class="row">
  <div class="large-8 columns">
	 <h5>A NOTE FROM P.A.C.T. PRESIDENT, ERIC WEISS</h5>

<p>Hello. My name is Eric Weiss and I am the president of the Portage Area Community Theatre Board of Directors.  As President, I have the honor of sharing with you my viewpoint of what this organization is all about and why I think it is worthy of your support.  I have lived in the Portage Area for almost 17 years and I have been a member of PACT for almost as long.  I met my wife of 14 years during rehearsals of a PACT show and I have made life long friends along the way. It is a great place to meet people who share your interest in live theatre, and have a whole lot of fun at the same time.  Anyone who has been involved with a Community Theatre show will tell you that it was a lot of work but no one is likely to tell you that it wasn't worth every minute.</p>

<p>If this is your first visit to PACT's website, please take a moment to look around and see some of the things that we do to bring performance art to our wonderful community.  If you are a Member of PACT, this is a great place to find out about upcoming events, details on upcoming shows, and all things PACT.  If you are not a member of PACT, you may find that you would like to be a part of what we are doing here, and you would be most welcome to join us.</p>

<p>If you have ever seen one of our performances, you know that we strive to deliver a high quality live theatre experience that you may expect to see from professional theatre companies.  The only difference is that we do it in your own backyard using mostly dedicated volunteers.</p>

<p>You may be asking yourself, why we do it.  After all there are lots of ways to have fun that require a lot less work.  I believe that if you asked 10 people that you would get 10 different answers (if they could even answer the question at all).  I believe that we do it so that we can express ourselves through our art. </p>

<p>Whether it is the performance art of the actors on stage, the displayed art of sets and props, or costume design, the visual and audible art of lighting and sound design or the creative art involved in direction or production, we do it to add our interpretation of one of the most amazing art forms ever created, Live Theatre! </p>

<p>You have to experience it to know what it is like, and we would love to have you add your own personal experiences to those of the highly talented people that are already a part of the Portage Area Community Theatre.</p>

<p>If you are interested in joining PACT or want more information on upcoming shows or other events, please contact us.</p>
<p>Thank you.</p>  
	
  </div>
  <aside class="large-4 columns">
	<div class="panel">
		<h5>Ways You Can Help</h5>
		<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
		<a href="#">Read More &rarr;</a>
	</div>
	<div class="panel">
		<h5>Become A Member!</h5>
		<p>They always say that membership has its privileges. Find out for yourself what it means to be a member of the PACT team!<p>
		<a href="#">Read More &rarr;</a>
	</div>
  </aside>
</div>
