	<section class="ef-breadcrumbs ef-bottom-2_18">	
		<nav class="row">
			<div class="large-6 small-12 columns">
				<h3>Contact<small>Contact PACT</small></h3>
			</div>
			
			<div class="large-6 small-12 columns text-right">
				<ul class="breadcrumbs">
				  <li><%= link_to "Home", root_path %></li>
				  <li class="current"><a href="#">Contact</a></li>
				</ul>
			</div>
		</nav>	
	</section>
	
<!-- Content -->
	
	<section id="ef-content">
		
		<div class="row">
			<div class="large-6 small-12 columns">
				
				<h3>Contact Us</h3>				
				<h5 class="subheader">We would love to hear from you!</h5>
				
				<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
				
				<!-- Contact Form -->
								
				<form id="ef-contact" class="ef-form hide-for-print" method="post" action="get_mail.php">
					<div class="row">
						<div class="large-12 columns">
							<input type="text" name="name" placeholder="Name *" class="ef-name ef-radius">
						</div>
	                </div>
	
	                <div class="row">
	                    <div class="large-12 columns">
	                    	<input type="text" name="email" placeholder="E-mail *" class="ef-email ef-radius">
	                    </div>
	                </div>
	
	                <div class="row">
						<div class="large-12 columns">
							<input type="text" name="subject" placeholder="Subject" class="ef-subject ef-radius">
						</div>
	                </div>
	                
	                <div class="ef-textarea row">
	                    <div class="large-12 columns">
	                    	<textarea name="message" placeholder="Message *" class="ef-message ef-radius"></textarea>
	                    </div>
	                </div>
	                
	                <div class="row">
						<div class="large-12 columns">
						
							<p>Confirm that you are a human. Move <strong>slider</strong> to the right</p>
							
							<div class="ef-contact-slider ef-round"></div>
							
							<div class="clearfix"></div>
							
	                		<input class="send button small ef-radius left ef-no-margin" name="send" type="submit" value="Send">
	                		
	                		<div data-alert="" class="alert-box success ef-form-alert radius right">
	                			<a href="#" class="close">&times;</a>
	                		</div>
	                		
	                	</div>
	                </div>

		        </form>
				
			</div>
			
			<div class="large-6 small-12 columns">
			
				<h3>Frequently Asked Questions</h3>				
				<h5 class="subheader">Another awesome subheader</h5>
				
				<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectust.</p>
				
				<!-- Accordion -->
				
				<div class="ef-style-accordion ef-toggle ef-faq">
					<h4><span class="ef-uiaccordion-head-inner">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectust?</span></h4>
					<div class="show-for-print">
						<div class="ef-uiaccordion-content-inner">
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
						</div>
					</div>
					<h4><span class="ef-uiaccordion-head-inner">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam?</span></h4>
					<div class="show-for-print">
						<div class="ef-uiaccordion-content-inner">
							<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
						purus. Vivamus hendrerit, dolor at aliquet laoreet.</p>
						</div>
					</div>
					<h4><span class="ef-uiaccordion-head-inner">Et harum quidem rerum facilis est et expedita distinctio?</span></h4>
					<div class="show-for-print">
						<div class="ef-uiaccordion-content-inner">
							<p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.</p>
						</div>
					</div>
					<h4><span class="ef-uiaccordion-head-inner">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</span></h4>
					<div class="show-for-print">
						<div class="ef-uiaccordion-content-inner">
							<p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.</p>
						</div>
					</div>
					<h4><span class="ef-uiaccordion-head-inner">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam?</span></h4>
					<div class="show-for-print">
						<div class="ef-uiaccordion-content-inner">
							<p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
						purus. Vivamus hendrerit, dolor at aliquet laoreet.</p>
						</div>
					</div>
					<h4><span class="ef-uiaccordion-head-inner">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectust?</span></h4>
					<div class="show-for-print">
						<div class="ef-uiaccordion-content-inner">
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
						</div>
					</div>
					<h4><span class="ef-uiaccordion-head-inner">Et harum quidem rerum facilis est et expedita distinctio?</span></h4>
					<div class="show-for-print">
						<div class="ef-uiaccordion-content-inner">
							<p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.</p>
						</div>
					</div>
				</div>
				
				<hr class="ef-blank hide-for-print">
				
			</div>
			
		</div>
		
	</section>
	
	<!-- Footer	-->
	
	<footer id="ef-footer" class="hide-for-print">
		<div class="row ef-widgets">
		
			<section class="widget_text large-3 columns">			
				<h6>About template</h6>
				
				<div class="textwidget">
					<img src="images/content/logo.svg" class="alignleft" alt="" />
					<p>This template is based on the most advanced responsive <a href="http://foundation.zurb.com/" target="_blank">Foundation Framework</a> from <a href="http://www.zurb.com/" target="_blank">Zurb</a> and it stunningly looks on TV, desktop, tablet or smartphone.</p>
				</div>
				
			</section>
			
			<section class="widget_recent_comments large-3 columns">
				<h6>Recent comments<span></span></h6>
				
				<ul id="recentcomments">
					<li class="recentcomments">
						Todd Smash on 
						<a href="blog-single.html">Meet our new template!</a>
					</li>
					<li class="recentcomments">
						Lazy on 
						<a href="blog-single.html">Do not play with matches</a>
					</li>
					<li class="recentcomments">
						Jonny Fresh on 
						<a href="blog-single.html">Blog post with Slider</a>
					</li>
					<li class="recentcomments">
						Rick on 
						<a href="blog-single.html">Video post</a>
					</li>
				</ul>
				
			</section>
			
			<section class="widget_contact large-3 columns">
				<h6>Get in touch<span></span></h6>
				
				<ul class="contacts">
					<li class="cont-phone"><a href="tel:1-234-567-8910"><span>1-234-567-8910</span></a></li>
					<li class="cont-email">
						<a href="mailto:info@yourdomain.com"><span>info@yourdomain.com</span></a>
					</li>
					<li class="cont-adress"><address><span>Favea Inc.<br />Ghost Street, 554, 550432, London, UK</span></address></li>
				</ul>
				
			</section>
			

			<section class="widget_text large-3 columns">			
				<h6>Our Clients</h6>
				
				<div class="textwidget">
					<ul>
						<li>Lock & Stock</li>
						<li>Firewire inc.</li>
						<li>Mizuka Motors corp.</li>
						<li>Renny Breaks</li>
						<li>Scare Grooves ltd.</li>
					</ul>
				</div>
				
			</section>
			
		</div>
		
		<section class="ef-twitter-widget">
			<div class="row">
				<div class="large-9 columns ef-twt-inner">
					<div class="left ef-birdy"></div>
					<div class="ef-twitter"></div>
				</div>
				<div class="large-3 columns text-right">
					<a class="button round medium ef-no-margin" href="http://twitter.com/evgenyfireform">Follow Us</a>
				</div>
			</div>
		</section>
