<h1>PACT</h1> <h2>the Portage Area Community Theater</h2>
<p>Current list of website users:</p>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>
<hr />
<%= render :partial => @posts %>
<hr />
