<div class="row">
 <div class="large-1 columns"></div>
 <div class="large-10 columns">
	
 <div class="panel">
	<div class="row">
		<div class="large-2 large-offset-1 columns">
			<%= image_tag 'pactlogo2.jpg' %>
		</div>
		<div class="large-7 large-offset-1 columns">
			<h3><i>the Portage Area Community Theater</i></h3>
		</div>
	</div>
	</div>
 </div>
 <div class="large-1 columns"></div>
</div>
<div class="row">

	<!-- Main Blog Content -->
	<div class="large-9 columns" role="content">
		<hr />
		<%= render :partial => @posts %>

	</div>

	<!-- Sidebar -->
	<aside class="large-3 columns">

		<div class="panel">
			<h5>Featured</h5>
			<p>Rocky Horror auditions and our New Short Film Competition.
			<a href="#">Read More &rarr;</a></p>
		</div>

		<div class="panel .ef-list">
		  <h5>Latest Tweets</h5>
		  <ul class="side-nav">
			<% @tweets.each do |tw| %>
			<li><%= tw.content %>
			<% end %>
		  </ul>
		</div>

		<div class="panel">
		  <h5>Categories</h5>
		  <ul class="side-nav">
		    <% @categories.each do |cat| %>
			  <li><a href="#"><%= cat.title %></a></li>
		    <% end %>
		  </ul>
    	</div>

	</aside>
	<!-- End Sidebar -->
</div>
	