<section class="ef-breadcrumbs ef-bottom-2_18">	
	<nav class="row">
		<div class="large-6 small-12 columns">
			<h3>Membership<small>What Is It All About</small></h3>
		</div>
		
		<div class="large-6 small-12 columns text-right">
			<ul class="breadcrumbs">
			  <li><%= link_to "Home", root_path %></li>
			  <li class="current"><a href="#">Membership</a></li>
			</ul>
		</div>
	</nav>	
</section>

<!-- Content -->
	
	<section id="ef-content">
		
		<div class="row">
			<div class="large-12 columns">
				
				<h3>Our Plans And Pricing</h3>
				
				<p><strong>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</strong></p>
			</div>
		</div>
		
		<div class="row">
			<div class="large-3 columns">
				<ul class="pricing-table ef-price-table ef-radius">
				  <li class="title">Silver</li>
				  <li class="description">An awesome description</li>
				  <li class="price"><div>$0</div><small>Per month</small></li>
				  <li class="bullet-item">1 Database</li>
				  <li class="bullet-item">250MB Storage</li>
				  <li class="bullet-item">1 User</li>
				   <li class="bullet-item unavailable">SSL Encryption</li>
				  <li class="bullet-item unavailable">Premium Support</li>
				  <li class="cta-button"><a class="button round small" href="#">Buy Now</a></li>
				</ul>
				
			</div>
			
			<div class="large-3 columns">
				<ul class="pricing-table ef-price-table ef-radius">
				  <li class="title">Gold</li>
				  <li class="description">An awesome description</li>
				  <li class="price"><div>$5</div><small>Per month</small></li>
				  <li class="bullet-item">2 Databases</li>
				  <li class="bullet-item">2GB Storage</li>
				  <li class="bullet-item">5 Users</li>
				  <li class="bullet-item">SSL Encryption</li>
				  <li class="bullet-item unavailable">Premium Support</li>
				  <li class="cta-button"><a class="button round small" href="#">Buy Now</a></li>
				</ul>
				
			</div>
			
			<div class="large-3 columns">
				<ul class="pricing-table ef-price-table ef-radius ef-plan">
				  <li class="title">Platinum</li>
				  <li class="description">An awesome description</li>
				  <li class="price"><div>$17</div><small>Per month</small></li>
				  <li class="bullet-item">10 Database</li>
				  <li class="bullet-item">20GB Storage</li>
				  <li class="bullet-item">20 Users</li>
				  <li class="bullet-item">SSL Encryption</li>
				  <li class="bullet-item unavailable">Premium Support</li>
				  <li class="cta-button"><a class="button round small" href="#">Buy Now</a></li>
				</ul>
				
			</div>
			
			<div class="large-3 columns">
				<ul class="pricing-table ef-price-table ef-radius">
				  <li class="title">Diamond</li>
				  <li class="description">An awesome description</li>
				  <li class="price"><div>$29</div><small>Per month</small></li>
				  <li class="bullet-item">Unlimited Databases</li>
				  <li class="bullet-item">500GB Storage</li>
				  <li class="bullet-item">Unlimited Users</li>
				  <li class="bullet-item">SSL Encryption</li>
				  <li class="bullet-item">Premium Support</li>
				  <li class="cta-button"><a class="button round small" href="#">Buy Now</a></li>
				</ul>
				
			</div>			
		</div>
		
		<div class="row">			
			<div class="large-12 columns">
				<hr class="ef-blank hide-for-print">
			</div>
		</div>
		
		<div class="row">
			
			<div class="large-12 columns text-center">
				<h2>Additional Support <small>Awesome small segment header</small></h2>
				<hr>
			</div>
			
			<hr class="ef-blank hide-for-print">
			
			<div class="large-6 small-12 columns">
			
				<ul class="ef-list">
					<li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</li>
					<li>Ducimus qui blanditiis praesentium</li>
					<li>Voluptatum deleniti atque corrupti quos dolores et quas</li>
					<li>Molestias excepturi sint occaecati cupiditate non provident</li>
					<li>Similique sunt in culpa qui officia deserunt mollitia animi
						<ul>
							<li>Repudiandae sint et molestiae non recusandae</li>
							<li>Nemo enim ipsam voluptatem quia voluptas</li>
							<li>Temporibus autem quibusdam</li>
						</ul>
					</li>
					<li>Id est laborum et dolorum fuga.</li>
					<li>Alias consequatur</li>
				</ul>
				
			</div>

			<div class="large-6 small-12 columns">
			
				<ul class="ef-list">
					<li>Optio cumque nihil impedit</li>
					<li>Alias consequatur aut perferendis doloribus asperiores</li>
					<li>Minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus
						<ul>
							<li>Ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</li>
							<li>Temporibus autem quibusdam</li>							
						</ul>
					</li>
					<li>Itaque earum rerum hic tenetur a sapiente delectus</li>
					<li>Perferendis doloribus asperiores repellat</li>
					<li>Labore et dolore magnam aliquam quaerat voluptatem</li>
				</ul>
				
			</div>
		</div>
				
	</section>






<%= render :partial => "layouts/join_us" %>
