<section class="ef-breadcrumbs ef-bottom-2_18">	
<nav class="row">
	<div class="large-6 small-12 columns">
		<h3>Calendar<small>Upcoming Events for Portage Area Community Theater</small></h3>
	</div>
	
	<div class="large-6 small-12 columns text-right">
		<ul class="breadcrumbs">
		  <li><%= link_to "Home", root_path %></li>
		  <li class="current"><a href="#">Calendar</a></li>
		</ul>
	</div>
</nav>	
</section>

<div class="row">
  <div class="large-8 columns">


	<%= link_to "Event List", events_path %>

	<div id='calendar'></div>

	<%= link_to "New Event", new_event_path %>

  </div>
	  
	<aside class="large-4 columns">
		<div class="panel">
			<h5>Become A Member!</h5>
			<p>They always say that membership has its privileges. Find out for yourself what it means to be a member of the PACT team!
			<a href="/membership">Read More &rarr;</a></p>
		</div>
		<div class="panel">
			<h5>Other Ways You Can Help</h5>
			<p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.
			<a href="#">Read More &rarr;</a></p>
		</div>
	</aside>
</div>

	<%= render :partial => "layouts/join_us" %>

