<div class="row">
	<div class="large-12 columns">
		<div class="panel ef-panel">
			<div class="ef-panel-inner">
				<section class="row">
					<div class="large-9 columns">
						<h3><strong>Act.</strong> Direct. <strong>Produce.</strong> Write. <strong>Volunteer.</strong>. Become a Member.</h3>
					</div>
					<div class="large-3 columns text-right hide-for-print">
						<a href="contact.html" class="button ef-hollow round medium ef-no-margin">Contact Us</a>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>