<section id="ef-top">
	<div class="row">
		<div class="large-5 small-12 columns">
			<ul class="left">
				<li class="ef-phone"><a href="#">T. +608 561 1738</a></li>
				<li class="ef-mail"><a href="#">info@pactwi.org</a></li>
			</ul>
		</div>
		
		<div class="large-7 small-12 columns text-right">
			<hr class="show-for-small">
			
			<!-- Social Profiles -->
			
			<ul class="ef-social-block text-left right">
				<li>
					<ul class="ef-soc-icons">
						<li><a href="#" class="ef-twt ef-tipsy-n" title="Twitter" data-color="#2cbbea" target="_blank"></a></li>
						
						<li><a href="#" class="ef-fb ef-tipsy-n" title="Facebook" data-color="#5481de" target="_blank"></a></li>
						
						<li><a href="#" class="ef-in ef-tipsy-n" title="LinkedIn" data-color="#459ee9" target="_blank"></a></li>
						
						<li><a href="#" class="ef-pin ef-tipsy-n" title="Pinterest" data-color="#e84f61" target="_blank"></a></li>
						
						<li><a href="#" class="ef-flick ef-tipsy-n" title="Flickr" data-color="#f23a94" target="_blank"></a></li>
						
						<li><a href="#" class="ef-vim ef-tipsy-n" title="Vimeo" data-color="#74c3dd" target="_blank"></a></li>
						
						<li><a href="#" class="ef-delic ef-tipsy-n" title="Delicious" data-color="#4a79ff" target="_blank"></a></li>			
						
						<li><a href="#" class="ef-goog ef-tipsy-n" title="Google" data-color="#06ad18" target="_blank"></a></li>
												
						<li><a href="#" class="ef-rss ef-tipsy-n" title="RSS" data-color="#f18d3c" target="_blank"></a></li>
						
						<li><a href="#" class="ef-ytb ef-tipsy-n" title="Youtube" data-color="#df3434" target="_blank"></a></li>
						
					</ul>
				</li>
			</ul>
		</div>
	</div>
</section>